In [ ]:
#dependencies

In [ ]:
#Anika Start

In [ ]:
#Anika End

In [ ]:
#Melissa M Start

In [ ]:
#Melissa M End

In [ ]:
#Liz Start

In [1]:
import pandas as pd
import os

In [21]:
file = os.path.join('..','DataProjectOne','Data','MendocinoPalmerIndex.csv')
MendoPalm = pd.read_csv(file)
MendoPalm.head()

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,HDD,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX
0,4,1,200001,11.96,40.9,0.49,-1.27,1.47,-0.51,0,747,0.68,-0.22,-0.13,-0.25,-0.45,0.22,1.18,34.6,47.2
1,4,1,200002,12.21,43.5,1.29,1.29,2.56,1.29,0,602,1.01,1.08,0.29,0.20,0.14,-0.01,0.77,37.1,49.9
2,4,1,200003,3.29,45.0,-0.71,-0.71,-2.14,-0.71,0,620,-0.76,0.44,0.64,0.02,-0.03,-0.26,0.47,34.3,55.7
3,4,1,200004,3.72,51.2,-0.60,-0.60,0.12,-0.60,0,414,0.31,-0.47,0.45,0.09,0.01,-0.16,0.48,39.2,63.1
4,4,1,200005,2.22,54.5,-0.42,-0.42,0.35,-0.42,0,326,0.42,0.37,-0.38,0.04,0.00,-0.05,0.34,42.7,66.3

In [22]:
# load San Diego  Palmer Index

file = os.path.join('..','DataProjectOne','Data','SanDiegoPalmerIndex.csv')
SanPalm = pd.read_csv(file)
SanPalm.head()

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,HDD,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX
0,4,6,200001,1.28,52.7,-4.29,-4.29,-2.86,-4.29,0,386,-0.63,-1.57,-1.65,-1.85,-1.88,-1.70,0.50,41.9,63.6
1,4,6,200002,6.98,51.5,0.76,-3.09,2.27,-2.16,0,378,1.07,0.38,-0.06,-0.43,-0.38,-0.33,-0.48,42.2,60.8
2,4,6,200003,2.18,53.0,0.42,-3.03,-0.77,-2.36,0,372,-0.07,0.68,0.21,-0.45,-0.46,-0.23,-0.69,41.6,64.4
3,4,6,200004,2.38,58.8,0.79,-2.31,1.23,-1.14,18,204,1.03,0.33,0.84,-0.13,-0.27,-0.27,-0.66,46.1,71.6
4,4,6,200005,0.06,64.0,0.78,-1.99,0.23,-0.74,63,94,-0.82,0.74,0.20,-0.02,-0.32,-0.28,-0.90,51.1,76.8

In [23]:
# load Tuolumne Palmer Index

file = os.path.join('..','DataProjectOne','Data','TuolumnePalmerIndex.csv')
TuoPalm = pd.read_csv(file)
TuoPalm.head()

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,HDD,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX
0,4,5,200001,5.39,45.2,0.23,-1.80,0.70,-1.42,0,614,0.73,-0.20,-0.37,-0.61,-0.70,-0.77,0.90,36.2,54.1
1,4,5,200002,7.43,46.8,1.31,1.31,3.29,1.31,0,510,1.44,1.29,0.66,0.32,0.33,-0.03,0.45,37.8,55.9
2,4,5,200003,1.88,49.4,-0.46,0.71,-1.37,-0.17,0,484,-0.47,0.80,0.89,0.12,0.10,0.08,0.17,38.0,60.8
3,4,5,200004,1.74,56.5,-0.54,-0.54,-0.40,-0.54,17,272,0.24,-0.32,0.74,0.25,0.10,0.03,0.06,43.2,69.8
4,4,5,200005,1.02,62.9,0.27,0.27,0.80,0.27,65,130,0.53,0.31,-0.23,0.39,0.14,0.14,-0.16,49.3,76.5

In [24]:
# load San Diego Weather csv

file = os.path.join('..','DataProjectOne','Data','SanDiegoWeather.csv')
SanWT = pd.read_csv(file)
SanWT.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",32.73360,-117.18310,4.6,1/1/00,6.49,",,X",0.03,",,0,2400",0.0,",,0",55.0,",,W",59.0,",,0",51.0,",,0"
1,USR0000CLSF,"LAS FLORES CALIFORNIA, CA US",33.28890,-117.43890,30.5,1/1/00,NaN,NaN,NaN,NaN,NaN,NaN,53.0,",,U",58.0,"H,,U",47.0,"H,,U"
2,USW00003131,"SAN DIEGO MONTGOMERY FIELD, CA US",32.81583,-117.13944,127.1,1/1/00,5.82,",,W",0.03,",,W",NaN,NaN,51.0,",,W",57.0,",,W",44.0,",,W"
3,USW00003177,"CARLSBAD MCCLELLAN PALOMAR AIRPORT, CA US",33.12806,-117.27944,100.0,1/1/00,6.04,",,W",0.00,"T,,W",NaN,NaN,52.0,",,W",57.0,",,W",47.0,",,W"
4,USW00003178,"SAN DIEGO BROWN FIELD, CA US",32.57222,-116.97944,157.0,1/1/00,5.59,",,W",0.01,",,W",NaN,NaN,52.0,",,W",57.0,",,W",46.0,",,W"

In [25]:
# load Mendocinio Weather

file = os.path.join('..','DataProjectOne','Data','MendocinoWeather.csv')
MendoWT = pd.read_csv(file)
MendoWT.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,US1CAMD0012,"WILLITS 6.0 WSW, CA US",39.37,-123.45,570.9,2/23/09,NaN,NaN,0.97,",,N",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1CAMD0012,"WILLITS 6.0 WSW, CA US",39.37,-123.45,570.9,2/24/09,NaN,NaN,0.74,",,N",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1CAMD0012,"WILLITS 6.0 WSW, CA US",39.37,-123.45,570.9,2/25/09,NaN,NaN,0.07,",,N",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1CAMD0012,"WILLITS 6.0 WSW, CA US",39.37,-123.45,570.9,2/26/09,NaN,NaN,0.46,",,N",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1CAMD0012,"WILLITS 6.0 WSW, CA US",39.37,-123.45,570.9,2/27/09,NaN,NaN,0.04,",,N",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# load Tuolumne Weather

file = os.path.join('..','DataProjectOne','Data','TuolumneWeather.csv')
TuoWT = pd.read_csv(file)
TuoWT.tail()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
46169,US1CATM0001,"SONORA 0.4 W, CA US",37.9828,-120.388,539.8,3/29/09,0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN
46170,US1CATM0001,"SONORA 0.4 W, CA US",37.9828,-120.388,539.8,3/30/09,0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN
46171,US1CATM0001,"SONORA 0.4 W, CA US",37.9828,-120.388,539.8,3/31/09,0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN
46172,US1CATM0001,"SONORA 0.4 W, CA US",37.9828,-120.388,539.8,4/1/09,0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN
46173,US1CATM0001,"SONORA 0.4 W, CA US",37.9828,-120.388,539.8,4/2/09,0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Liz End

In [ ]:
#MK Start

In [ ]:
#MK End