In [ ]:
#dependencies

In [ ]:
#Anika Start

In [ ]:
#Anika End

In [ ]:
#Melissa M Start

In [ ]:
#Melissa M End

In [ ]:
#Liz Start

In [2]:
import pandas as pd
import os

In [3]:
# load Mendocino Palmer Index
file = os.path.join('..','DataProjectOne','Data','MendocinoPalmerIndex.csv')
MendoPalm = pd.read_csv(file)
MendoPalm.head()

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,HDD,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX
0,4,1,200001,11.96,40.9,0.49,-1.27,1.47,-0.51,0,747,0.68,-0.22,-0.13,-0.25,-0.45,0.22,1.18,34.6,47.2
1,4,1,200002,12.21,43.5,1.29,1.29,2.56,1.29,0,602,1.01,1.08,0.29,0.20,0.14,-0.01,0.77,37.1,49.9
2,4,1,200003,3.29,45.0,-0.71,-0.71,-2.14,-0.71,0,620,-0.76,0.44,0.64,0.02,-0.03,-0.26,0.47,34.3,55.7
3,4,1,200004,3.72,51.2,-0.60,-0.60,0.12,-0.60,0,414,0.31,-0.47,0.45,0.09,0.01,-0.16,0.48,39.2,63.1
4,4,1,200005,2.22,54.5,-0.42,-0.42,0.35,-0.42,0,326,0.42,0.37,-0.38,0.04,0.00,-0.05,0.34,42.7,66.3

In [4]:
# load San Diego  Palmer Index

file = os.path.join('..','DataProjectOne','Data','SanDiegoPalmerIndex.csv')
SanPalm = pd.read_csv(file)
SanPalm.head()

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,HDD,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX
0,4,6,200001,1.28,52.7,-4.29,-4.29,-2.86,-4.29,0,386,-0.63,-1.57,-1.65,-1.85,-1.88,-1.70,0.50,41.9,63.6
1,4,6,200002,6.98,51.5,0.76,-3.09,2.27,-2.16,0,378,1.07,0.38,-0.06,-0.43,-0.38,-0.33,-0.48,42.2,60.8
2,4,6,200003,2.18,53.0,0.42,-3.03,-0.77,-2.36,0,372,-0.07,0.68,0.21,-0.45,-0.46,-0.23,-0.69,41.6,64.4
3,4,6,200004,2.38,58.8,0.79,-2.31,1.23,-1.14,18,204,1.03,0.33,0.84,-0.13,-0.27,-0.27,-0.66,46.1,71.6
4,4,6,200005,0.06,64.0,0.78,-1.99,0.23,-0.74,63,94,-0.82,0.74,0.20,-0.02,-0.32,-0.28,-0.90,51.1,76.8

In [5]:
# load Tuolumne Palmer Index

file = os.path.join('..','DataProjectOne','Data','TuolumnePalmerIndex.csv')
TuoPalm = pd.read_csv(file)
TuoPalm.head()

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,HDD,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX
0,4,5,200001,5.39,45.2,0.23,-1.80,0.70,-1.42,0,614,0.73,-0.20,-0.37,-0.61,-0.70,-0.77,0.90,36.2,54.1
1,4,5,200002,7.43,46.8,1.31,1.31,3.29,1.31,0,510,1.44,1.29,0.66,0.32,0.33,-0.03,0.45,37.8,55.9
2,4,5,200003,1.88,49.4,-0.46,0.71,-1.37,-0.17,0,484,-0.47,0.80,0.89,0.12,0.10,0.08,0.17,38.0,60.8
3,4,5,200004,1.74,56.5,-0.54,-0.54,-0.40,-0.54,17,272,0.24,-0.32,0.74,0.25,0.10,0.03,0.06,43.2,69.8
4,4,5,200005,1.02,62.9,0.27,0.27,0.80,0.27,65,130,0.53,0.31,-0.23,0.39,0.14,0.14,-0.16,49.3,76.5

In [6]:
# load San Diego Weather csv

file = os.path.join('..','DataProjectOne','Data','SanDiegoWeather.csv')
SanWT = pd.read_csv(file)
SanWT.head(1)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",32.7336,-117.1831,4.6,1/1/00,6.49,",,X",0.03,",,0,2400",0.0,",,0",55.0,",,W",59.0,",,0",51.0,",,0"

In [7]:
# reduce DF to only show a single, rather then multiple, weather stations in San Diego

SanWT = SanWT.loc[(SanWT['STATION'] == "USW00023188")]
SanWT.tail(3)

#SanWT.count()

#SanWT = SanWT.dropna(how = 'any')

#SanWT.count()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
124652,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",32.7336,-117.1831,4.6,12/29/07,4.03,",,W",0.0,"T,,0,2400",NaN,NaN,NaN,NaN,57.0,",,0",50.0,",,0"
124697,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",32.7336,-117.1831,4.6,12/30/07,2.68,",,W",0.0,",,0,2400",NaN,NaN,NaN,NaN,58.0,",,0",45.0,",,0"
124742,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",32.7336,-117.1831,4.6,12/31/07,1.57,",,W",0.0,",,0,2400",NaN,NaN,NaN,NaN,66.0,",,0",45.0,",,0"

In [8]:
# extracting needed columns for San Diego Weather
SanWT = SanWT.drop(columns=["LATITUDE","LONGITUDE","AWND_ATTRIBUTES","PRCP_ATTRIBUTES","SNOW","SNOW_ATTRIBUTES","TAVG","TAVG_ATTRIBUTES",\
                           "TMAX_ATTRIBUTES","TMIN_ATTRIBUTES"])
SanWT

,STATION,NAME,ELEVATION,DATE,AWND,PRCP,TMAX,TMIN
0,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",4.6,1/1/00,6.49,0.03,59.0,51.0
35,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",4.6,1/2/00,9.62,0.00,60.0,49.0
71,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",4.6,1/3/00,3.58,0.00,67.0,45.0
107,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",4.6,1/4/00,4.70,0.00,67.0,45.0
143,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",4.6,1/5/00,2.68,0.00,64.0,45.0
...,...,...,...,...,...,...,...,...
124562,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",4.6,12/27/07,5.59,0.00,56.0,44.0
124607,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",4.6,12/28/07,2.91,0.02,57.0,43.0
124652,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",4.6,12/29/07,4.03,0.00,57.0,50.0
124697,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",4.6,12/30/07,2.68,0.00,58.0,45.0
124742,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",4.6,12/31/07,1.57,0.00,66.0,45.0

In [38]:
# load Mendocinio Weather

file = os.path.join('..','DataProjectOne','Data','MendocinoWeather.csv')
MendoWT = pd.read_csv(file)
MendoWT.head(1)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,US1CAMD0012,"WILLITS 6.0 WSW, CA US",39.37,-123.45,570.9,2/23/09,NaN,NaN,0.97,",,N",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# reduce DF to only show a single, rather then multiple, weather stations in San Diego

MendoWT = MendoWT.loc[(MendoWT['NAME'] == "FORT BRAGG 5 N, CA US")]
MendoWT.tail(3)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
18525,USC00043161,"FORT BRAGG 5 N, CA US",39.5091,-123.7566,37.5,12/29/10,NaN,NaN,0.96,",,0,1600",0.0,"P,,0",NaN,NaN,54.0,",,0",41.0,",,0"
18526,USC00043161,"FORT BRAGG 5 N, CA US",39.5091,-123.7566,37.5,12/30/10,NaN,NaN,0.00,",,0,1600",0.0,"P,,0",NaN,NaN,46.0,",,0",34.0,",,0"
18527,USC00043161,"FORT BRAGG 5 N, CA US",39.5091,-123.7566,37.5,12/31/10,NaN,NaN,0.02,",,0,1600",0.0,"P,,0",NaN,NaN,44.0,",,0",32.0,",,0"

In [43]:
#extracting needed columns for Mendocino Weather Weather
reducedM = MendoWT.drop(columns=["LATITUDE","LONGITUDE","AWND_ATTRIBUTES","PRCP_ATTRIBUTES","SNOW","SNOW_ATTRIBUTES","TAVG","TAVG_ATTRIBUTES",\
                           "TMAX_ATTRIBUTES","TMIN_ATTRIBUTES"])
# name of new reduced dataframe
reducedM.head()

,STATION,NAME,ELEVATION,DATE,AWND,PRCP,TMAX,TMIN
14517,USC00043161,"FORT BRAGG 5 N, CA US",37.5,1/1/00,NaN,0.23,50.0,33.0
14518,USC00043161,"FORT BRAGG 5 N, CA US",37.5,1/2/00,NaN,0.11,47.0,33.0
14519,USC00043161,"FORT BRAGG 5 N, CA US",37.5,1/3/00,NaN,0.00,49.0,34.0
14520,USC00043161,"FORT BRAGG 5 N, CA US",37.5,1/4/00,NaN,0.42,52.0,39.0
14521,USC00043161,"FORT BRAGG 5 N, CA US",37.5,1/5/00,NaN,0.02,51.0,33.0

In [44]:
# load Tuolumne Weather

file = os.path.join('..','DataProjectOne','Data','TuolumneWeather.csv')
TuoWT = pd.read_csv(file)
TuoWT.tail()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
46169,US1CATM0001,"SONORA 0.4 W, CA US",37.9828,-120.388,539.8,3/29/09,0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN
46170,US1CATM0001,"SONORA 0.4 W, CA US",37.9828,-120.388,539.8,3/30/09,0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN
46171,US1CATM0001,"SONORA 0.4 W, CA US",37.9828,-120.388,539.8,3/31/09,0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN
46172,US1CATM0001,"SONORA 0.4 W, CA US",37.9828,-120.388,539.8,4/1/09,0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN
46173,US1CATM0001,"SONORA 0.4 W, CA US",37.9828,-120.388,539.8,4/2/09,0.0,",,N",0.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# reduce DF to only show a single, rather then multiple, weather stations in San Diego

TuoWT = TuoWT.loc[(TuoWT['NAME'] == "GROVELAND 2, CA US")]
TuoWT.tail(3)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
15851,USC00043669,"GROVELAND 2, CA US",37.8444,-120.2258,853.4,12/29/10,2.61,",,0,0700",0.0,"P,,0",NaN,NaN,47.0,",,0",37.0,",,0"
15852,USC00043669,"GROVELAND 2, CA US",37.8444,-120.2258,853.4,12/30/10,0.70,",,0,0700",0.0,",,0",NaN,NaN,42.0,",,0",20.0,",,0"
15853,USC00043669,"GROVELAND 2, CA US",37.8444,-120.2258,853.4,12/31/10,0.00,",,0,0700",0.0,"P,,0",NaN,NaN,36.0,",,0",19.0,",,0"

In [47]:
#extracting needed columns for Tuolumne Weather
reducedT = TuoWT.drop(columns=["LATITUDE","LONGITUDE","PRCP_ATTRIBUTES","SNOW","SNOW_ATTRIBUTES","TAVG","TAVG_ATTRIBUTES",\
                           "TMAX_ATTRIBUTES","TMIN_ATTRIBUTES"])
# name of 
reducedT

           STATION                NAME  ELEVATION      DATE  PRCP  TMAX  TMIN
12019  USC00043669  GROVELAND 2, CA US      853.4    7/1/00  0.00  88.0  49.0
12020  USC00043669  GROVELAND 2, CA US      853.4    7/2/00  0.00  83.0  51.0
12021  USC00043669  GROVELAND 2, CA US      853.4    7/3/00  0.00  80.0  48.0
12022  USC00043669  GROVELAND 2, CA US      853.4    7/4/00  0.00  76.0  46.0
12023  USC00043669  GROVELAND 2, CA US      853.4    7/5/00  0.00  76.0  46.0
...            ...                 ...        ...       ...   ...   ...   ...
15849  USC00043669  GROVELAND 2, CA US      853.4  12/27/10  0.00  54.0  29.0
15850  USC00043669  GROVELAND 2, CA US      853.4  12/28/10  0.00  48.0  30.0
15851  USC00043669  GROVELAND 2, CA US      853.4  12/29/10  2.61  47.0  37.0
15852  USC00043669  GROVELAND 2, CA US      853.4  12/30/10  0.70  42.0  20.0
15853  USC00043669  GROVELAND 2, CA US      853.4  12/31/10  0.00  36.0  19.0

[3835 rows x 7 columns]

In [ ]:
#Liz End

In [ ]:
#MK Start

In [ ]:
#MK End