In [75]:
#dependencies
import pandas as pd
import os

In [76]:
#Liz Start

In [97]:
# load Mendocino Palmer Index

file = os.path.join('..','DataProjectOne','Data','MendocinoPalmerIndex.csv')
Mendo = pd.read_csv(file)
Mendo.head()

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,HDD,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX
0,4,1,200001,11.96,40.9,0.49,-1.27,1.47,-0.51,0,747,0.68,-0.22,-0.13,-0.25,-0.45,0.22,1.18,34.6,47.2
1,4,1,200002,12.21,43.5,1.29,1.29,2.56,1.29,0,602,1.01,1.08,0.29,0.20,0.14,-0.01,0.77,37.1,49.9
2,4,1,200003,3.29,45.0,-0.71,-0.71,-2.14,-0.71,0,620,-0.76,0.44,0.64,0.02,-0.03,-0.26,0.47,34.3,55.7
3,4,1,200004,3.72,51.2,-0.60,-0.60,0.12,-0.60,0,414,0.31,-0.47,0.45,0.09,0.01,-0.16,0.48,39.2,63.1
4,4,1,200005,2.22,54.5,-0.42,-0.42,0.35,-0.42,0,326,0.42,0.37,-0.38,0.04,0.00,-0.05,0.34,42.7,66.3

In [99]:
# load San Diego  Palmer Index

file = os.path.join('..','DataProjectOne','Data','SanDiegoPalmerIndex.csv')
Mendo = pd.read_csv(file)
Mendo.head()

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,HDD,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX
0,4,6,200001,1.28,52.7,-4.29,-4.29,-2.86,-4.29,0,386,-0.63,-1.57,-1.65,-1.85,-1.88,-1.70,0.50,41.9,63.6
1,4,6,200002,6.98,51.5,0.76,-3.09,2.27,-2.16,0,378,1.07,0.38,-0.06,-0.43,-0.38,-0.33,-0.48,42.2,60.8
2,4,6,200003,2.18,53.0,0.42,-3.03,-0.77,-2.36,0,372,-0.07,0.68,0.21,-0.45,-0.46,-0.23,-0.69,41.6,64.4
3,4,6,200004,2.38,58.8,0.79,-2.31,1.23,-1.14,18,204,1.03,0.33,0.84,-0.13,-0.27,-0.27,-0.66,46.1,71.6
4,4,6,200005,0.06,64.0,0.78,-1.99,0.23,-0.74,63,94,-0.82,0.74,0.20,-0.02,-0.32,-0.28,-0.90,51.1,76.8

In [100]:
# load Tuolumne Palmer Index

file = os.path.join('..','DataProjectOne','Data','TuolumnePalmerIndex.csv')
Mendo = pd.read_csv(file)
Mendo.head()

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,HDD,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX
0,4,5,200001,5.39,45.2,0.23,-1.80,0.70,-1.42,0,614,0.73,-0.20,-0.37,-0.61,-0.70,-0.77,0.90,36.2,54.1
1,4,5,200002,7.43,46.8,1.31,1.31,3.29,1.31,0,510,1.44,1.29,0.66,0.32,0.33,-0.03,0.45,37.8,55.9
2,4,5,200003,1.88,49.4,-0.46,0.71,-1.37,-0.17,0,484,-0.47,0.80,0.89,0.12,0.10,0.08,0.17,38.0,60.8
3,4,5,200004,1.74,56.5,-0.54,-0.54,-0.40,-0.54,17,272,0.24,-0.32,0.74,0.25,0.10,0.03,0.06,43.2,69.8
4,4,5,200005,1.02,62.9,0.27,0.27,0.80,0.27,65,130,0.53,0.31,-0.23,0.39,0.14,0.14,-0.16,49.3,76.5

In [53]:
#Liz End

In [ ]:
#Anika Start

In [ ]:
#Anika End

In [ ]:
#Melissa M Start

In [ ]:
#Melissa M End

In [ ]:
#MK Start

In [ ]:
#MK End